.detail-img {
    margin-top: 22px !important;
}

.detail-img img {
    width: 100%;
}

.detail-div {
    display: flex;
    width: 92%;
}

.detail-img {
    width: 100%;
}

.info-div {
    margin-top: 22px !important;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.select-div {
    display: flex;
    justify-content: center;
}

.btn-div {
    display: flex;
    justify-content: center;
}

@media only screen and (max-width:700px) {
    .detail-div {
        flex-direction: column;
        width: 100%;
    }
}